<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<%- include('./partials/pageheader') %>
<div class="container">
  <div><%= message %> </div>
    <form action="/post/edit/<%= post._id %>" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class = "form-control" rows = "4" placeholder = "Description" name="description"><%= post.description %></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Edit Post</button>
        
      </form>
      <a href="/post/<%= post._id %>"><button class="btn btn-danger">Back</button></a>
</div>
<%- include('./partials/footer') %>