<!DOCTYPE html>
<html lang="en">
    <!-- header -->
    <%- include('./partials/header') %>
        <!-- Navigation-->
        <%- include('./partials/navbar') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1><%= post.title %></h1>
                            <h2 class="subheading"><%= post.description.slice(0, 90) %>.... </h2>
                            <span class="meta">
                                Posted by
                                <a href="#!"><%= post.author.username %></a>
                                on <%= post.createdAt %>
                            </span>
                            <% if(username) { %>
                            <form action="/post/edit/<%= post._id %>" method="get">
                                <button class="btn btn-primary">Edit</button>
                            </form>
                            <form action="/post/delete/<%= post._id %>" method="get">
                                <button class="btn btn-danger">delete</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
<p><%= post.description %></p>
                        
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
<%- include('./partials/footer') %>
